<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAspdfRtx5ojaQUU3gfH8ujynq-FQCrP5I</string>
	<key>GCM_SENDER_ID</key>
	<string>268363022601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anasamer.dynaminIsland</string>
	<key>PROJECT_ID</key>
	<string>dynamicisland-38979</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamicisland-38979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268363022601:ios:39691726030403ddba93d8</string>
</dict>
</plist>